body { margin: auto; width: 1000px;}

/* ------------------------------------------------------
|	Header
/*-------------------------------------------------------*/
.header {
	height: 185px;
}
.logo-company img{
	max-width: 145px;
	cursor: pointer;
}
.header-content {
	text-align: center;
}
.user-logged {
	text-align: center;
}
	.user-logged img{
		width: 120px;
		height: 120px;
	}
.row-header {
	margin-top: 10px;
}
/* ------------------------------------------------------
|	Content
/*-------------------------------------------------------*/
.content-above {
	margin-top: 50px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.my-date {
	font-size: 2.3rem;
}
.sidebar {
	list-style: none;
	padding: 0px;
	margin-top: 20px;
}
	.sidebar li {
		padding: 10px 0px;
	}
	.sidebar li button{
		width: 90%;
	}

.left { 
	border-right: 1px solid #ccc;
}
.btn-add-new {
	float: right;
	margin-top: -50px;
}
.table-striped tbody tr {
	cursor: pointer;
}
.table-striped input {
	width: 90%;
}
.loading {
	display: none;
	float: right;
	margin-top: -30px;
	margin-right: 110px;
	font-size: 13pt;
	color: blue;
}
.right {
	margin-top: -42px;
}
.right, .right button, .right a {
	float: right;
}
	.right button, .right a {
		margin-left: 10px;
	}

/* ------------------------------------------------------
|	Content
/*-------------------------------------------------------*/
.popup-show-data, .loading {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	min-height: 110%;
	text-align: center;
	display: block;
}
.popup-show-data {
	background-color: rgba(165, 165, 165, 0.92);
}
.popup-container{
	margin: auto;
	width: 1000px;
	margin-top: 20px;
}
#popup-table {
	margin-left: 15px;
	width: 97%;
}
.popup-container .sum{ margin-left: 15px; }

.loading {
	background-color: rgba(230, 230, 230, 0.6);
}
.loadingImage {
	position: fixed;
	margin-left: -40px;
	top: 35%;
	width: 100px;
}


/* ------------------------------------------------------
|	nhapkho.html
/*-------------------------------------------------------*/
.my-form {
	float: left;
	margin: 0px 55px;
}
.my-form label {
	font-weight: bold;
}
.sum {
	font-size: 18px;
	padding: 10px;
	background-color: #2d6ca2 ;
}
.col-2, .col-8{
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}
.col-2 {
	width: 14.66666667%;	
}
.col-8 {
	width: 61.66666667%;
}
.my-row {
	margin-right: -15px;
	margin-left: -15px;
}
h1 {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.user-name {
	float: center;
	line-height: 3;
}
.label-error{
	background-color: #d9534f;
	display: none;
}

footer {
	min-height: 50px;
}